/*
 * Genel Baðlantý ve Buton Stilleri
 */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    /* YENÝ: Logo'nun (YILDIZ HABER) yanýndaki kategori listesi için daha fazla yer açar. */
    margin-right: 30px;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*
 * Navigasyon Barý Kategorileri Ýçin Düzenleme (Bootstrap Sýnýflarý Destekler)
 */
.navbar-nav .nav-item {
    /* Her bir kategori (li) arasýnda saðdan (margin-right) biraz boþluk býrakýr. */
    margin-right: 15px;
}

/*
 * Sýnýr ve Gölge Stilleri
 */
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/*
 * KRÝTÝK DÜZELTME: Footer (Alt Bilgi)
 * position: absolute; kaldýrýldý. Ýçerik ne kadar uzarsa uzasýn footer en altta kalýr.
 */
.footer {
    /* position: absolute; kaldýrýldý */
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
