@model IEnumerable<YildizHaberPortali.Models.Category>

@* Bu kod, sitenin navbar'ında kullanılacaktır. *@
<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
    </li>

    @foreach (var item in Model)
    {
        <li class="nav-item">
            <a class="nav-link text-dark font-weight-bold"
               asp-controller="Home"
               asp-action="Index"
               asp-route-categoryId="@item.Id">
                @item.Name
            </a>
        </li>
    }
    }
</ul>