@* Basit bir Kayıt formu *@
@{
    ViewData["Title"] = "Kayıt Ol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h2 class="my-4">Yeni Hesap Oluştur</h2>
        <section>
            @* BURAYA Register Formu HTML/ASP Kodları Gelecek *@
            <div class="alert alert-info">
                Kayıt formu henüz kodlanmadı.
            </div>
            <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Ana Sayfaya Geri Dön</a>
        </section>
    </div>
</div>